<form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
  <label for="email">Email</label>
  <div *ngIf="formErrors.email" class="alert-danger">
    {{ formErrors.email }}
  </div>
  <div *ngIf="emailForm.valid && !available && requested" class="alert-danger">
    Email not found
  </div>
  <div *ngIf="emailForm.valid && available && requested" class="alert-success">
    Email found!
  </div>
  <input type="email" id="email" class="form-control"
          formControlName="email" required 
          >
  <button type="submit" class="btn" value="submit"
          [disabled]="!available">
  Login</button>
</form>
<h2>
  {{ users | json }}
</h2>