<form #emailForm="ngForm" (ngSubmit)="onSubmit()">
  <label for="email">Email</label>
  <div *ngIf="email.errors && (email.dirty || email.touched)"
      class="alert-danger">
      <div [hidden]="!email.errors.required">
        Email is required
      </div>
      <div [hidden]="!email.errors.pattern">
        Email must be in format you@something.com
      </div>
  </div>
  <input type="email" id="name" class="form-control"
          name="email" [(ngModel)]="user.email" 
          #email="ngModel" required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          >
  <button type="submit" class="btn" value="submit"
          [disabled]="!emailForm.form.valid">
  Submit</button>
</form>