<div class="container">
  <div class="row">
    <div class="h-25 col-md-3 user-detail">
      <h2 class="profile-header">
        profile detail 
      </h2>
      <h3>
        {{ user.name }}
      </h3>
      <h3>
        <address>
          {{ user.address.street }}, {{ user.address.suite }} <br>
          {{ user.address.city }}, {{ user.address.zipcode }}
        </address>
      </h3>
      <h3>
        {{ user.phone }}
      </h3>
      <h3>
        {{ user.email }}
      </h3>
    </div>
    <div class="col-md-8 offset-md-1">
      <div *ngFor="let post of posts" class="post mt-2">
        <span class="post-title font-weight-bold pl-2">{{ post.title }}</span><br>

        <p class="post-header pl-4">{{ post.body }}<p>
        <div *ngFor="let comment of postComments[post.id]" class="comment">
          {{ comment.email }}
        </div>
      </div>
    </div>
  </div>
</div>
